/* -- RESETS -- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body{
	background-color: white;
	margin: 0;
}
h4{
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 400;
}
h2, h1{
	font-size: 40px;
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 300;
}
p{
	font-size: 18px;
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 300;
}
.tarjetas{
	display: inline-block;
	float: left;
	margin-top: -4px;
	width: 60px;
}
.camiones{
	display: inline-block;
	float: left;
	margin-top: -4px;
	width: 60px;
}
.cleaner{
	clear: both;
}
/* --------------- */
/* ESTILOS CONTENEDOR 1 */
section{
	margin-top: 0;
	padding: 3.5% 10% 3.5%;
	background: url(../images/back-u2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 75%;
	height: 100%;
	overflow: auto;
}
#contenedor1 h1{
	color: white;
	text-align: center;
	margin-top: 1%;
}
#tablaventas{
	margin-top: 5%;
}
/* ESTILOS DE LA TABLA */
.semi-title{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0.25em;
    color: #e5332a;
    font-weight: 600;
}
/* ------------------- */
/* FIN ESTILOS CONTENEDOR 1 */
/* ESTILOS CONTENEDOR COMPARTIR ESTA NOTA (DE ARRIBA) */
#contenedorshare{
	padding: 2% 0;
	float: right;
	width: 30%;
	text-align: center;
	margin-top: 1%;
	font-size: 20px;
}
#comparte1{
	float: left;
	display: inline;
	margin-right: 3%;
	margin-top: 2.5%;
	font-weight: 300;
}
/* -------------------------------------------------- */
/* ESTILOS CONTENEDOR 2*/
#framespotify{
	margin-left: 15.5%;
	margin-right: 15.5%;
}
#contenedor2{
	display: block;
	margin: 0;
	padding: 0 17.5%;
}
#contenedor2 h2{
	font-size: 24px;
	color: rgb(16, 100, 134);
	font-weight: 600;
}
#contenedor2 #parrafo{
	font-size: 15px;
	color: rgb(150, 150, 150);
}
#imagen1{
	text-align: center;
	padding: 2% 0 3%;
	width: 100%;
}
#textoazul{
	font-size: 22px;
	color: rgb(16, 100, 134);
	font-weight: 400;
	text-align: center;
	padding-bottom: 2%;
}
#u2logo{
	margin: auto;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 2.5%;
}
/* FIN ESTILOS CONTENEDOR 2 */
/* DISPOCISION DE COLUMNAS */
.columnas1{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    padding-bottom: 5%;
}
.columnas2{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    padding-bottom: 5%;
}
/* ---------------------- */
/* ESTILOS CONTENEDOR 3 */
#contenedor3{
	display: block;
	margin: 0;
	padding: 1.5% 0 2%;
	background-color: rgb(39, 206, 188);
	color: white;
	font-family: 'Open Sans', Sans-Serif;
	text-align: center;
}
#contenedor3 h2{
	padding-bottom: 1.5%;
}
#contenedor3 p{
	padding: 0% 17.5%;
	padding-top: 2%;
}
#speakers{
	margin: auto;
	width: 25%;
}
/* FIN ESTILOS CONTENEDOR 3 */
/* ESTILOS CONTENEDOR 4 */
#contenedor4{
	padding: 0 17.5%;
	margin-bottom: -2.5%;
}
#contenedor4 p{
	color: rgb(150, 150, 150);
	font-size: 15px;
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 300;
}
#imagen2{
	width: 100%;
	padding: 4% 0 2%;
}
/* FIN ESTILOS CONTENEDOR 4 */
/* ESTILOS CONTENEDOR 5 */
#contenedor5{
	display: block;
	margin: 0;
	padding: 0 17.5%;
}
#contenedor5 h3{
	font-size: 40px;
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 300;
	color: rgb(228, 95, 88);
	padding-top: 1%;
	text-align: center;
}
#contenedor5 p{
	font-size: 15px;
	color: rgb(150, 150, 150);
	margin: 0;
	padding: 1.5% 0;
}
#auxtabla{
	padding: 0 10%;
}
/* FIN ESTILOS CONTENEDOR 5 */
/* ESTILOS CONTENEDOR 6 */
#contenedor6{
	background: url("../images/back-u2-02.jpg") center top no-repeat;
	background-position: 10% 50%;
	background-size: cover;
}
#contenedor6 h3{
	font-size: 40px;
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 300;
	color: white;
	padding: 2% 0;
	text-align: center;
}
#video{
	padding: 0% 17.5% 3%;
}
#video1{
	width: 100%;
	height: 480px;
}
/* FIN ESTILOS CONTENEDOR 6 */
/* ESTILOS CONTENEDOR 7 */
/* --- ESTE CONTENEDOR ABARCA LOS ESTILOS DEL (Y) CONTENEDOR 6 --- */
#contenedor7{
	display: block;
	margin: 0;
	padding: 0 17.5%;
}
#contenedor7 p{
	font-size: 15px;
	color: white;
}
/* FIN ESTILOS CONTENEDOR 7 */
/* ESTILOS CONTENEDOR 8 */
#contenedor8{
	margin: auto;
	padding: 0 17.5%;
}
#contenedor8 h3{
	font-size: 40px;
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 300;
	color: rgb(47, 159, 213);
	padding: 2% 0;
	text-align: center;
}
#contenedor8 p{
	font-size: 15px;
	color: rgb(150, 150, 150);
}
#u2cover{
	width: 100%;
	padding: 0 15%;
}
/* FIN ESTILOS CONTENEDOR 8 */
/* ESTILOS CONTENEDOR 9 */
#contenedor9{
	background-color: rgb(135, 97, 213);
	margin: 0;
}
#contenedor9 h3{
	font-size: 40px;
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 300;
	color: white;
	padding: 3.5% 0;
	text-align: center;
}
#contenedor95{
	display: block;
	margin: 0;
	padding: 2% 17.5%;
}
#contenedor95 p{
	font-size: 15px;
}
#contenedor95 span{
	color: rgb(16, 101, 136);
}
#u2tickets{
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 2%;
}
/* FIN ESTILOS CONTENEDOR 9 */
/* ESTILOS CONTENEDOR 10 */
#contenedor10 #tablaventas{
	width: 80%;
	margin: auto;
}
#mapaseparacion{
	padding: 1%;
}
#contenedor10 iframe{
	margin-left: 10%;
}
#mapasize{
	width: 80%;
	height: 450px;
	margin-bottom: 2%;
}
/* FIN ESTILOS CONTENEDOR 10 */
/* EXTRAS // FINAL DE PÁGINA */
#gracias{
	text-align: center;
}
#graciassvg{
	display: inline;
	width: 40%;
	padding-bottom: 3%;
}
#pngcards{
    width: 100%;
    height: 105px;
    background: url('http://www.entradafan.com.ar/VistasNew/images/png/sprite_png.png') -72px -95px;
    background-repeat: no-repeat;
    border-top: 1px dashed #6B6F79;
    border-bottom: 1px dashed #6B6F79;
}
.invisible{
	display: none;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}
ul.share-buttons{
	list-style: none;
	padding: 0;
}
ul.share-buttons li{
	display: inline;
}
#primerboton{
	margin-right: 1.5%;
}
#contenedorshare2{
	margin: auto;
	text-align: center;
	width: 25%;
}
#comparte2{
	line-height: 40px;
	font-size: 15px;
	color: rgb(150, 150, 150);
}
@media (max-width: 430px){
/* ESTILOS CONTENEDOR 1 */
	#contenedor1{
		padding: 3.5% 10% 3.5%;
	}
	#contenedor1 h1{
		color: white;
		text-align: center;
		margin-top: 60%;
	}
	#tablaventas{
		margin-top: 5%;
		width: 80%;
	}
/* ESTILOS CONTENEDOR COMPARTIR ESTA NOTA (DE ARRIBA) */
	#contenedorshare{
		float: right;
		width: 70%;
		padding-right: 0;
	}
	#comparte1{
		float: left;
		display: inline;
		margin-top: 2.5%;
		font-size: 15px;
	}
/* ESTILOS CONTENEDOR 2*/
	#framespotify{
		margin-left: 0;
	}
	#tamañospotify{
		width: 100%;
	}
	#contenedor2{
		display: block;
		margin: 0;
		padding: 3% 5%;
	}
	#contenedor2 h3{
		font-size: 20px;
		color: rgb(233, 95, 88);
		font-weight: 600;
	}
	#contenedor2 p{
		font-size: 15px;
		color: rgb(150, 150, 150);
	}
	#imagen1{
		text-align: center;
		padding: 2% 0 3%;
		width: 100%;
	}
/* DISPOCISION DE LAS COLUMNAS */
	.columnas1{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    -webkit-column-gap: 0; /* Chrome, Safari, Opera */
	    -moz-column-gap: 0; /* Firefox */
    	column-gap: 0;
    	padding-bottom: 2%;
	}
	.columnas2{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    -webkit-column-gap: 0; /* Chrome, Safari, Opera */
	    -moz-column-gap: 0; /* Firefox */
    	column-gap: 0;
    	padding-bottom: 2%;
	}
/* ESTILOS CONTENEDOR 3 */
	#contenedor3 h2{
		padding-bottom: 1.5%;
	}
	#contenedor3 p{
		padding: 0% 5%;
	}
	#speakers{
		margin: auto;
		width: 65%;
	}
/* ESTILOS CONTENEDOR 4 */
	#contenedor4{
		padding: 0 5%;
	}
	#contenedor4 p{
		padding: 3% 0;
	}
	#imagen2{
		width: 100%;
		padding: 4% 0 0;
	}
/* ESTILOS CONTENEDOR 5 */
	#contenedor5{
		padding: 0 5%;
	}
/* ESTILOS CONTENEDOR 6 */
	#contenedor6 #contenedor4{
		padding: 0;
		text-align: center;
		color: rgb(150, 150, 150);
		font-style: italic;
		font-family: 'Open Sans', Sans-Serif;
	}
	#contenedor6 #contenedor4 p{
		color: white;
	}
	#video{
		padding: 0% 0% 3%;
	}
	#video1{
		width: 100%;
		height: 340px;
	}
/* ESTILOS CONTENEDOR 7 */
/* --- ESTE CONTENEDOR ABARCA LOS ESTILOS DEL (Y) CONTENEDOR 6 --- */
	#contenedor7{
		padding: 0 5%;
	}
	#contenedor7 p{
		font-size: 15px;
		color: white;
	}
/* ESTILOS CONTENEDOR 8 */
	#contenedor8{
		padding: 0 5%;
	}
	#logoguns{
		width: 80%;
	}
/* ESTILOS CONTENEDOR 9 Y 10*/
	#contenedor95{
		padding: 2% 5%;
	}
	#u2tickets{
		text-align: center;
		width: 70%;
		margin-left: 15%;
		margin-bottom: 2%;
	}
	#contenedor10 #tablaventas{
		width: 65%;
		margin: auto;
	}
	#mapasize{
		width: 100%;
		height: 300px;
	}
	#contenedor10 iframe{
		margin-left: 0;
	}
	#contenedorshare2{
		margin: auto;
		text-align: center;
		width: 80%;
	}
	#graciassvg{
		display: inline;
		width: 100%;
		padding-bottom: 3%;
	}
};